nodered/iotmani.json
[
    {
        "id": "4f68d15b.fcf12",
        "type": "tab",
        "label": "iotmani",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a1b11f8c.bb1b8",
        "type": "tab",
        "label": "maintain",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4dadb33b.f2951c",
        "type": "mqtt-broker",
        "z": "",
        "name": "iotmani",
        "broker": "m15.cloudmqtt.com",
        "port": "28406",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "58f2b8a.a7da3c8",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/sensor",
        "wholemsg": "false"
    },
    {
        "id": "ab92a9cc.e583c",
        "type": "ui_base",
        "z": 0,
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED ダッシュボード",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2389991e.f63986",
        "type": "mongodb2",
        "z": "",
        "uri": "mongodb://ds115283.mlab.com:15283/heroku_80wjlr0w",
        "name": "nodered",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "1634d715.944b79",
        "type": "mqtt in",
        "z": "4f68d15b.fcf12",
        "name": "",
        "topic": "mani_cnt",
        "qos": "2",
        "broker": "4dadb33b.f2951c",
        "x": 91,
        "y": 252,
        "wires": [
            [
                "9311c926.a40dd8"
            ]
        ]
    },
    {
        "id": "56d71b1b.c73d34",
        "type": "websocket in",
        "z": "4f68d15b.fcf12",
        "name": "",
        "server": "58f2b8a.a7da3c8",
        "client": "",
        "x": 659,
        "y": 103,
        "wires": [
            [
                "4c97ff35.5b218"
            ]
        ]
    },
    {
        "id": "4c97ff35.5b218",
        "type": "debug",
        "z": "4f68d15b.fcf12",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 902,
        "y": 106,
        "wires": []
    },
    {
        "id": "69fadff1.8e91c",
        "type": "status",
        "z": "4f68d15b.fcf12",
        "name": "接続に変化",
        "scope": [
            "8c4406ad.94ae38"
        ],
        "x": 85,
        "y": 115,
        "wires": [
            [
                "a37298af.750d18"
            ]
        ]
    },
    {
        "id": "8c4406ad.94ae38",
        "type": "websocket out",
        "z": "4f68d15b.fcf12",
        "name": "",
        "server": "58f2b8a.a7da3c8",
        "client": "",
        "x": 754,
        "y": 549,
        "wires": []
    },
    {
        "id": "443d6bd1.094ae4",
        "type": "comment",
        "z": "4f68d15b.fcf12",
        "name": "WebSocket接続されたらマニ車カウント数を送るやつ",
        "info": "WebSocketの状態に変化があったとき、\n現在のマニ車カウント数を送る。",
        "x": 226,
        "y": 48,
        "wires": []
    },
    {
        "id": "a89bfcfc.8a457",
        "type": "comment",
        "z": "4f68d15b.fcf12",
        "name": "マニ車が回ったらカウントアップして送るやつ",
        "info": "",
        "x": 209,
        "y": 189,
        "wires": []
    },
    {
        "id": "768cc58.2bee33c",
        "type": "comment",
        "z": "4f68d15b.fcf12",
        "name": "これがないと1分でWebSocketが切られるやつ",
        "info": "",
        "x": 743,
        "y": 46,
        "wires": []
    },
    {
        "id": "9311c926.a40dd8",
        "type": "function",
        "z": "4f68d15b.fcf12",
        "name": "get count",
        "func": "\nvar count_up = Number(msg.payload);\nif(isNaN(count_up)) count_up = 0;\nmsg.count_up = count_up;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 332,
        "y": 249,
        "wires": [
            [
                "cba65c02.24b7d"
            ]
        ]
    },
    {
        "id": "eb8ad1d8.46766",
        "type": "function",
        "z": "a1b11f8c.bb1b8",
        "name": "insert",
        "func": "//msg.collection = 'mani_cnt';\n//msg.operation = 'insert';\nmsg.payload    = { 'name' : 'total' , \"count\" : 0};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 321,
        "y": 133,
        "wires": [
            [
                "1896da34.360c2e"
            ]
        ]
    },
    {
        "id": "c694ed3d.51c788",
        "type": "http in",
        "z": "a1b11f8c.bb1b8",
        "name": "",
        "url": "/mani_insert",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 124,
        "y": 130,
        "wires": [
            [
                "eb8ad1d8.46766"
            ]
        ]
    },
    {
        "id": "dc939a19.bc5168",
        "type": "debug",
        "z": "a1b11f8c.bb1b8",
        "name": "debug insert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 867,
        "y": 152,
        "wires": []
    },
    {
        "id": "aee12ec.79ae8d",
        "type": "http response",
        "z": "a1b11f8c.bb1b8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 844,
        "y": 74,
        "wires": []
    },
    {
        "id": "85db197e.956048",
        "type": "debug",
        "z": "4f68d15b.fcf12",
        "name": "debug get / countup",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 774,
        "y": 488,
        "wires": []
    },
    {
        "id": "cba65c02.24b7d",
        "type": "function",
        "z": "4f68d15b.fcf12",
        "name": "findOne",
        "func": "//msg.collection = 'mani_cnt';\n//msg.operation  = 'findOne';\nmsg.payload    = { 'name' : 'total' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 608,
        "y": 247,
        "wires": [
            [
                "16502a15.8d0c26"
            ]
        ]
    },
    {
        "id": "ef612f61.a3551",
        "type": "function",
        "z": "4f68d15b.fcf12",
        "name": "just get count",
        "func": "msg.payload    = msg.payload.count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 435,
        "y": 530,
        "wires": [
            [
                "85db197e.956048",
                "8c4406ad.94ae38"
            ]
        ]
    },
    {
        "id": "dfb1147a.7ca088",
        "type": "function",
        "z": "4f68d15b.fcf12",
        "name": "findOneAndUpdate",
        "func": "//msg.collection = 'mani_cnt';\n//msg.operation  = 'findOneAndUpdate';\nvar count = msg.payload.count;\nmsg.payload = [\n    { 'name' : 'total'},\n    { 'name' : 'total', 'count' : count }\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 431,
        "y": 404,
        "wires": [
            [
                "bdf93391.9aba8"
            ]
        ]
    },
    {
        "id": "d725dcc1.43032",
        "type": "function",
        "z": "4f68d15b.fcf12",
        "name": "count up",
        "func": "msg.payload.count += msg.count_up;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 124,
        "y": 410,
        "wires": [
            [
                "ef612f61.a3551",
                "dfb1147a.7ca088"
            ]
        ]
    },
    {
        "id": "a37298af.750d18",
        "type": "function",
        "z": "4f68d15b.fcf12",
        "name": "no count up",
        "func": "msg.count_up = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 328,
        "y": 113,
        "wires": [
            [
                "cba65c02.24b7d"
            ]
        ]
    },
    {
        "id": "1896da34.360c2e",
        "type": "mongodb2 in",
        "z": "a1b11f8c.bb1b8",
        "service": "_ext_",
        "configNode": "2389991e.f63986",
        "name": "insert into MongoDB",
        "collection": "mani_cnt",
        "operation": "insert",
        "x": 553,
        "y": 127,
        "wires": [
            [
                "dc939a19.bc5168",
                "aee12ec.79ae8d"
            ]
        ]
    },
    {
        "id": "bdf93391.9aba8",
        "type": "mongodb2 in",
        "z": "4f68d15b.fcf12",
        "service": "_ext_",
        "configNode": "2389991e.f63986",
        "name": "find from MongDB and update ",
        "collection": "mani_cnt",
        "operation": "findOneAndUpdate",
        "x": 800,
        "y": 396,
        "wires": [
            []
        ]
    },
    {
        "id": "16502a15.8d0c26",
        "type": "mongodb2 in",
        "z": "4f68d15b.fcf12",
        "service": "_ext_",
        "configNode": "2389991e.f63986",
        "name": "find from MongDB",
        "collection": "mani_cnt",
        "operation": "findOne",
        "x": 827,
        "y": 245,
        "wires": [
            [
                "d725dcc1.43032"
            ]
        ]
    },
    {
        "id": "c3653365.9ff86",
        "type": "comment",
        "z": "a1b11f8c.bb1b8",
        "name": "マニ車カウントのドキュメントを作成 (管理者用)",
        "info": "データベースのコレクション mani_cnt に\n{'name': 'total',  'count': 0} の\nドキュメントを作成する\n",
        "x": 205,
        "y": 64,
        "wires": []
    }
]
